# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcresult
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap

# User-specific Xcode state
xcuserdata/
*.xcuserstate

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
