# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcresult
*.moved-aside
*.xccheckout
*.xcscmblueprint

# User-specific Xcode state
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace
